MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=tfm/ambiental/+/telemetria
MQTT_CLIENT_ID=tfm-backend-ingestor

INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=tu_token_aqui
INFLUXDB_ORG=tfm-org
INFLUXDB_BUCKET=ambiental

LOG_LEVEL=INFO